<section id="home" class="h100 d-flex align-items-center bg-gradient2 section-padding" ng-app="app">
	<div class="container" ng-controller="results as vm">
		<div class="row justify-content-center text-center">


			<div style="text-align:center;" class="my-5" ng-show="loading">
				<div class="lds-dual-ring spinner-white"></div>
				<h3 class="mt-4" style="color:#fff;">Estamos obteniendo las mejores opciones para ti.</h3>
			</div>

			<div class="col-sm-12 col-lg-10" ng-show="!loading">
				<h1 class="title">¡Felicidades!</h1>
				<p class="subtitle text-white max700 mb-3">Revisamos tus datos, y cumples con los requisitos para solicitar cualquiera de estas opciones:</p>
				<div class="row justify-content-center">
					<div class="col-sm-6 col-lg-4" ng-repeat="c in cards">
						<div class="card-wini">
							<div class="content">
								<div class="mb-3 d-flex flex-column justify-content-center align-items-center" style="min-height:80px;">
									<img class="max80" ng-src="{{c.image}}" alt="{{c.title}}">
								</div>
								<ul class="no-style px-3">
									<li ng-repeat="d in c.description"><i class="fas fa-check"></i> {{d}} </li>
								</ul>
								<div class="row p-1 button">
									<div ng-class="c.urls.length > 1 ? 'col-sm-6':'col-sm-12'" ng-repeat="u in c.urls" class="p-2">
											<a ng-href="{{u.link}}" class="btn btn-warning btn-lg btn-rounded font-weight-bold btn-block">{{u.name || 'Solicitar'}}<i class="fas fa-arrow-right ml-2"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/js/angular.min.js"></script>
	<script src="/js/app.js"></script>
	<iframe src="https://lgenios-secure.com/p.ashx?o=3&e=3&t=TRANSACTION_ID" height="1" width="1" frameborder="0"></iframe>
</section>
